.headerlogo{
    text-align: center;
    padding: 1rem 0 1rem 0;
     &__img{
         width: 12rem;
         height: 3rem;
     }
}
.return{
    position: absolute;
    top: 1.5rem;
    left: 1rem;
}


