.reservation{
    flex-direction: column;
    text-align: center;
    background-color: $bg-secondary;
        &__local{
            width: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 0 1rem 0;
            background-color: $bg-icon;
            box-shadow: 0px 3px 3px #73737338 inset;
                &--fas{
                    @include fas-icon;
                }
        }
}
.function{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 65px 0;
    font-size: 1rem;
}
.function__step--title{
    margin-left: 2rem;
}
.function__step--icon{
    font-size: 20px;
    color: #7e7e7e;
}
.main__function--title{
    font-family: 'roboto',sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 4rem 0 2rem 1.2rem;
    background-color: white;
}
.main__restaurant--title{
    font-family: 'roboto',sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 4rem 0 2rem 1.2rem;
    background-color: $bg-secondary;
}
.restaurants{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    background-color: $bg-secondary;
    @media (max-width: 601px){
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}
.restaurants__card{
    position: relative;
    left: 1.2rem;
    right: 1.2rem;
    background-color: white;
    @media (max-width:601px){
    width: 335px;
    height: 250px;
    border-radius: 1.5rem ;
    box-shadow: 3px 8px 8px $shadow;
    margin: 0 0 3rem 0;
        &--img{
            border-radius: 1.5rem 1.5rem 0 0;
            width: 335px;
            height: 175px;
            object-fit: cover;
        }
        
    }
}
.restaurants__card--text{
    position: relative;
    background-color: white;
    border-radius: 0 0 1.5rem 1.5rem;
    padding-left:1rem; 
    height: 75px;
    
}
.restaurants__card--heart{
    position: absolute;
    font-size: 24px;
    right: 1.5rem;
    bottom: 1.5rem;
}