/******loader*******/
.loader__page{
    position: absolute;
    z-index:99999;
    top: 0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition:visibility 3s;
}
.loader__page--spinner{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 5px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
     &::after{
        content:"";
        position: absolute;
        top: -5px; 
        left: -5px;
        right: -5px;
        bottom: -5px;
        border: 5px solid transparent;
        border-radius:200px;
        border-top-color:black;
        border-bottom-color:$primary-clr;
        -webkit-animation: spin 2s linear infinite;
        }
}
/*****Accueil*****/
.reservation{
    flex-direction: column;
    text-align: center;
    background-color: $bg-secondary;
        &__local{
            width: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 0 1rem 0;
            background-color: $bg-icon;
            box-shadow: 0px 3px 3px #73737338 inset;
                &--fas{
                    @include fas-icon;
                }
        }
}
.function__step--title{
    grid-column-start: 2;
    margin-left: 2rem;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    @media screen and (max-width:768px){
        justify-self:self-start;
    }
}
.function__step--icon{
    grid-column-start: 2;
    font-size: 20px;
    color: #7e7e7e;
}
.function--title{
    text-align: center;
    grid-column-start: 2;
    @include title;
    @media screen and (max-width:768px) {
    text-align: start;
    }
}
.restaurant--title{
    grid-column-start: 2;
    @include title;
    background-color: $bg-secondary;
    margin: 0;
}
.restaurants__card{
    grid-column-start: 2;
    position: relative;
    background-color: white;
    grid-column-start: 2;
    width: 100%;
    height: 250px;
    border-radius: 1.5rem ;
    box-shadow: 3px 8px 8px $shadow;
    margin: 0 0 3rem 0;
        &--img{
            border-radius: 1.5rem 1.5rem 0 0;
            width: 100%;
            height: 175px;
            object-fit: cover;
            grid-column-start: 2;
        }
}
.restaurants__card--text{
    grid-column-start: 2;
    position: relative;
    background-color: white;
    border-radius: 0 0 1.5rem 1.5rem;
    padding-left:1rem; 
    height: 75px;   
}
.restaurants__card--heart{
    @include heart;
    opacity: 1;
    font-size: 24px;
    right: 1.5rem;
    bottom: 1.5rem;
   cursor: pointer;
}
.restaurants__heart--animation{
    @include heart;
    font-size: 25px;
    right: 1.5rem;
    bottom: 1.5rem;
    cursor: pointer;
    &:hover{
        opacity:1;
        transition: opacity 2s;
            &::after{
                content:"";
                opacity:1;
            }
        }
}
.fa-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from($primary-clr), to($secondary-clr));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/*****Page Menu*****/
.pagemenu__pict{
    grid-column-start: 2;
    width: 100%;
    height:250px;
    object-fit: cover;
}
.pagemenu{
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    background-color:$bg-secondary;
}
.pagemenu__title{
    position: relative;
    border-radius: 1.5rem 1.5rem 0 0;
    padding:2.4rem 0 0 1.5rem;
    margin-top: -2rem;
    background-color: $bg-secondary;
}
.restaurants__heart{
    @include heart;
    opacity: 1;
    top:2.5rem;
    right: 8%;
    font-size: 1.5rem;
    color:black;
}
.restaurants__heart--menu{
    @include heart;
    top:2.5rem;
    right: 8%;
    font-size: 1.5rem;
    &:hover{
        opacity:1;
        transition: opacity 0.6s;
        }
}
.menu{
    grid-column-start: 2;
} 
.menu__title{
    padding:  3rem 0 0.5rem;
    font-size: 1rem;
     &--underline{
         width:2.5rem;
         border-top: 3px solid $tertiaire-clr;
         margin: 0.5rem 0 0 0;
     }
}
.menu__desc{
    position: relative;
    background-color:white;
    height: 70px;
    padding: 0 0 15px 0;
    margin: 1rem 0 12px 0;
    cursor: pointer;
    overflow: hidden;
    @include function-card;
    opacity: 0;
    -webkit-animation: fadein 1.2s 0.3s ease-out both, transform 0.3s;
    animation: fadein 1.2s 0.3s ease-out both, transform 0.3s;
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    @media screen and (max-width:320px){
        padding-bottom: 1.5rem;
    }
     &--title{
         width: 100%;
         padding: 0 0 0 12px;
     }
     &--subtitle{
         display: flex;
         justify-content: space-between;
         padding: 0 1.5rem 0 12px; 
     }
     &:hover {
        >.menu__desc--animation{
            visibility: visible;
            transition: all 0.5s ease-in;
            transform:translateX(-100%);  
            .menu__desc--circle{
                transform: rotate(-360deg);
                transition-duration: 1s;
                } 
            }
        >.menu__desc--subtitle{
            width: 75%;
            overflow: hidden;
             }
        }
}
.btn__menu--block{
    grid-column-start: 2;
    text-align: center;
    margin: 2.5rem 0 4.3rem 0;
    cursor: pointer;
}

