.btn{
    background-color: $primary-clr;
    @include btn;
}
.function__step{
    display: flex;
    align-items: center;
    width: 325px;
    background-color: $bg-secondary;
    border-radius: 2rem;
    margin: 0 0 25px 0;
    padding: 1.8rem 0 1.3rem 0;
    box-shadow: 3px 3px 10px $shadow;
        &--number{
            @include function-number;
        }
    &:active{
        background-color: $primary-clr-lighten;
        color:$primary-clr;
    }
}
.restaurants__card--tag{
    border-radius: 3px;
    background-color: $tertiaire-clr;
    color: $tertiaire-clr-darken;
    padding: 5px;
    position: absolute;
    top: 12px;
    right: 10px;  

}