.btn{
    margin: 4rem 0 3.5rem 0;
    @include btn;
    cursor: pointer;
    @media screen and (max-width:768px) {
    margin: 2rem 0 3.5rem 0;   
    }
}
.function__step {
    display:flex;
    margin: 1.5rem 0 25px 0;
    padding: 1.8rem 0 1.3rem 0;
    background-color: white;
    @include function-card;
    @media screen and (max-width:768px) {
    background-color: $bg-secondary; 
    margin: 0 0 25px 0;  
    }
         &--number{
            @include function-number;
        }
    &:hover{
        background-color: $primary-clr-lighten;
        color:black;
        box-shadow: 3px 3px 20px $shadow-darken;
            .function__step--icon{
                color:$primary-clr;
            }
    }
}
.restaurants__card--tag{
    border-radius: 3px;
    background-color: $tertiaire-clr;
    color: $tertiaire-clr-darken;
    padding: 5px;
    position: absolute;
    top: 12px;
    right: 10px; 
}
.menu__desc--animation{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiaire-clr;
    top:0;
    left: 100%;
    width: 20%;
    height: 100%;
    border-radius: 0 1.5rem 1.5rem 0;
    color:white;
    font-size: 20px;
    transform-origin: right;
    visibility: hidden;
}
.btn__menu{
    width: 190px;
    grid-column-start: 2;
    @include btn;
    cursor: pointer;
}
