.btn{
    background-color: $primary-clr;
    @include btn;
}
.restaurants__card--tag{
    border: 1px solid $tertiaire-color;
    background-color: $tertiaire-color;
    position: absolute;
    top: 12px;
    right: 10px;  

}