.btn{
    background-color: $primary-clr;
    margin: 2rem 0 3.5rem 0;
    @include btn;
}
.function__step{
    display:flex;
    margin: 0 0 25px 0;
    padding: 1.8rem 0 1.3rem 0;
    background-color: $bg-secondary;
    @include function-card;
         &--number{
            @include function-number;
        }
    &:hover{
        background-color: $primary-clr-lighten;
        color:black;
            .function__step--icon{
                color:$primary-clr;
            }
    }
}
.restaurants__card--tag{
    border-radius: 3px;
    background-color: $tertiaire-clr;
    color: $tertiaire-clr-darken;
    padding: 5px;
    position: absolute;
    top: 12px;
    right: 10px;  

}
.btn__menu{
    width: 190px;
    grid-column-start: 2;
    @include btn;

}