body{
    margin:0;
    font-family: 'roboto', sans-serif;
}
a{
    text-decoration: none;
    color:inherit;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
li{
    padding: 0 0 12px 0;
}
.desktop{
    display:grid;
    grid-template-columns: 50% 50%;
    @media screen and (max-width:768px) {
        display:initial;
    }
}
.function{
    display:grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: 2;
    grid-column-start: 2;
    padding: 0 0 65px 0;
    font-size: 1rem;
    background: $bg-secondary;
    box-shadow: 3px 0px 3px #73737338 inset;
    border-bottom: 5px solid $primary-clr;
    @media screen  and (max-width:768px){
        background: white;
        grid-template-columns: 1fr 90% 1fr;
        border-bottom: initial;
    }
}
.restaurants{
    display:grid;
    grid-template-columns: 1fr 40% 40% 1fr;
    grid-template-rows:  4rem repeat(2, 1fr);
    gap: 2rem 2rem;
    justify-content: center;
    background: white;
    @media screen  and (max-width:768px){
    grid-template-columns: 1fr 90% 1fr;
    grid-template-rows:none;
    gap: 2rem 2rem;
    background: $bg-secondary;
    }
}
.card1{
    grid-column-start: 2;
    grid-row-start: 2;
    @media screen and (max-width:768px){
        grid-column-start: 2;
        grid-row-start: 2;

    }
}
.card2{
    grid-column-start: 3;
    grid-row-start: 2;
    @media screen and (max-width:768px){
        grid-column-start: 2;
        grid-row-start: 3;

    }
}
.card3{
    grid-column-start: 2;
    grid-row-start: 3;
    @media screen and (max-width:768px){
        grid-column-start: 2;
        grid-row-start: 4;

    }
}
.card4{
    grid-column-start: 3;
    grid-row-start: 3;
    @media screen and (max-width:768px){
        grid-column-start: 2;
        grid-row-start: 5;

    }
}
