body{
    margin:0;
    font-family: 'roboto', sans-serif;
}
a{
    text-decoration: none;
    color:inherit;
    grid-column-start: 2;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
li{
    padding: 0 0 12px 0;
}
.function{
    display:grid;
    grid-template-columns: 1fr 90% 1fr;
    padding: 0 0 65px 0;
    font-size: 1rem;
}
.restaurants{
    display:grid;
    background-color: $bg-secondary;
    grid-template-columns: 1fr 90% 1fr;
}
