@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

p{
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    margin:0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
h1{
    font-size: 1.6rem;
    margin:0;
    font-family: 'shrikhand', sans-serif;
}
h2{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
    padding: 1.3rem 0 0.5rem 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
h3{
    font-family: 'roboto', sans-serif;
    font-size: 1.5rem;
    margin:2.5 0 1.5 0;
}
h4{
    color: white;
    display: inline-block;
    margin:0;
    padding:0;
}
.price{
    font-size: 14px;
    font-weight: bold;
}
.txt{
    overflow: hidden;
}