@mixin main-position {
    display: grid;
    grid-template-columns: 1fr 90 1fr;
}
@mixin btn{
    border-radius: 2rem;
    border:0;
    box-shadow: 3px  3px 3px $shadow;
    font-size: 1rem;
    color: #ffff;
    padding: 1rem;
    background-image: radial-gradient(ellipse farthest-corner at 20px 0,
    $secondary-clr 0%,$primary-clr 100%);
}
@mixin function-card{
    grid-column-start: 2;
    align-items: center;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 10px $shadow;
}
@mixin fas-icon{
    margin:0 1.5rem 0 -2rem;
}
@mixin heart{
    position: absolute;
    cursor: pointer;
    opacity:0;
    transform-origin: bottom;
    }
@mixin function-number{
    color:white;
    background-color: $primary-clr;
    border: 1px solid $primary-clr;
    border-radius: 50%;
    padding: 4px 8px 4px 8px;
    margin: 0 1.5rem 0 -12px;
}
@mixin title{
    font-family: 'roboto',sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 4rem 0 2rem 1.2rem;
}

