$primary-clr:#9356DC;
$primary-clr-lighten: lighten($primary-clr,30%);
$secondary-clr:#FF79DA;
$tertiaire-clr:#99E2D0;
$tertiaire-clr-darken: darken($tertiaire-clr,45%);
$bg-icon:#eaeaea;
$bg-secondary:#f6f6f6;
$shadow: #dedada;
